#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #108ee9;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}

#components-layout-demo-custom-trigger .ant-layout-sider-collapsed .anticon {
  font-size: 16px;
}

#components-layout-demo-custom-trigger .ant-layout-sider-collapsed .nav-text {
  display: none;
}





.drag-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100px;
  width: 100%;
    
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    border: 1px solid #ddd;
    background: #ccc;
  }

  .tools {
    position: absolute;
    left: 0;
    top: 50px;
    width: 320px;
    height: 720px;
    padding: 10px;
    border: 1px solid #aaa;

    .comp-list {

      li {
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: 1px dashed #aaa;
      }
    }
  }


  .device {
    width: 960px;
    height: 680px;
    position: absolute;
    left: 340px;
    top: 70px;
    border-radius: 10px;
    border: 1px solid #aaa;
    padding: 2px;
    box-shadow: 0 0 5px #000;

    &.ip6 {
      width: 375px;
      height: 667px;
    }
  }

  .drag-comp {
    position: absolute;
    width: 300px;
    border: 2px dotted #aaa;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background: #fff;
    box-sizing: border-box;

    &.dragging {
      background: #e5e5e5;
      opacity: 0.8;
    }

    label {
      font-weight: bold;
      margin-right: 4px;
    }

    .inp {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 2px;
    }
  }
}
