.if-draggable-modal-content {
	
	.if-draggable-modal-header {
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #ddd;

		span.close {
			position: absolute;
			right: 20px;
			top: 15px;
			font-size: 18px;
			cursor: pointer;
		}
	}

	.if-draggable-modal-body {
		min-height: 300px;
		margin-bottom: 10px;
	}

	.if-draggable-modal-footer {
		position: relative;
		width: 100%;
		bottom: 0;
		margin-top: 10px;
		padding-top: 10px;
		text-align: right;
		border-top: 1px solid #ddd;

		button {
			margin-left: 5px;
		}
	}


	.ant-form-item {
		margin-bottom: 8px;
	}
}
