.form-view {
	padding: 10px;
	min-height: 620px;
	box-sizing: border-box;
	border: 1px solid #fff;

	&:hover {
		border: 1px dashed #09f;
	}

	.layout {
		position: relative;
	}

	.draggable-item {
		padding: 5px;
		background: #f8f8f8;
		border: 1px solid #ddd;
		box-sizing: border-box;


		&:hover {
			transition: all .3s ease-in-out;
			background: #eeffaa;
			border: 1px solid #666;
			

			.ctrl {
				display: block;
			}

			.react-resizable-handle {
				opacity: 1;
			}
		}

		.ctrl {
			position: absolute;
			right: 0;
			top: 0;
			width: 56px;
			height: 20px;
			display: none;
			z-index: 9999;
			transition: all .3s ease-in-out;

			color: #fff;
			background: #444;

			i {
				margin-left: 4px;
				margin-right: 2px;
				font-size: 14px;

				&:hover {
					font-weight: bold;
				}
			}
		}
	}

	.react-resizable-handle {
		position: absolute;
	    width: 14px;
	    height: 14px;
	    bottom: 1px;
	    right: 1px;
	    padding: 0 2px 2px 0;
	    background-repeat: no-repeat;
	    background-origin: content-box;
	    box-sizing: border-box;
	    cursor: se-resize;
	    border-right: 2px solid #666;
	    border-bottom: 2px solid #666;
	    background: transparent;
	    opacity: 0;
	}
}


