.draggable-item {
	background: #e5e5e5;
	transition: all .3s ease-in-out;

	&:hover {
		background: #d8d8d8;
	}
}

.resize-handler {
	position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    background: #ddd;
    background-position: bottom right;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: se-resize;
}