.form-view {
	padding: 10px;
	width: 980px;
	height: 620px;
	box-sizing: border-box;
	border: 1px solid #fff;

	&:hover {
		border: 1px dashed #09f;
	}

	.layout {
		position: relative;
	}

	.draggable-item {
		padding: 5px;
		background: #f8f8f8;

		&:hover {
			background: #d8d8d8;

			.ctrl {
				display: block;
				opacity: 0.6;
			}
		}

		.ctrl {
			position: absolute;
			right: 0;
			top: 0;
			width: 56px;
			height: 20px;
			display: none;
			z-index: 2;
			transition: all .3s ease-in-out;
			opacity: 0.4;
			background: #a8a8a8;

			i {
				margin-left: 5px;
				margin-right: 2px;

				&:hover {
					background: #d5d5d5;
				}
			}
		}
	}

	.react-resizable-handle {
		position: absolute;
	    width: 14px;
	    height: 14px;
	    bottom: 0;
	    right: 0;
	    background: #ddd;
	    background-position: bottom right;
	    padding: 0 3px 3px 0;
	    background-repeat: no-repeat;
	    background-origin: content-box;
	    box-sizing: border-box;
	    cursor: se-resize;
	    background: url('../../static/southeast.svg') center no-repeat;
	}
}


